# Build and Release Folders
tests/bin/js-debug/
tests/bin/js-release/
tests/obj/

examples/bin/js-debug/
examples/bin/js-release/
examples/obj/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/test/assets/site

bin/js-debug/
